tbody {font-family: 'Arimo', sans-serif; font-size: 20px;} 

.menu_div_iframe {position:absolute; top:0px; right:0px; width:auto; height:auto; z-index: 20; border:1px solid #444;}
.menu_div_iframe iframe {height:auto; width:100%;border:none;overflow:auto; border:1px solid #345;}

.menu-mobile{
	padding:5px;
	min-height:40px;
	color:#F6B95A;
	background-color:rgba(0, 0, 0, 0.699);
    
    width:250px;
    position:absolute; top:0px; right:0px;
}

.menu-icon-div {position:absolute; right:10px; top:10px; font-size:20px; padding:0 0 7px 10px; border-radius:3px;}
.menu-icon-div p {margin:9px 45px 0 0;}

.menu-icon-bars{ height:22px; position:absolute; top:5px; right:10px;}

.icon-bar {margin-top:6px; width:26px; height:2px; border-radius:1px; border:0px solid #F6B95A; background-color:#F6B95A;}

.menu-body{
	background-color: rgba(0, 0, 0, 0);
	margin-top:50px; color:#3f0e0e; border:2px solid rgba(0, 0, 0, 0);
	max-height:0; overflow:hidden; -webkit-transition:all 0.5s linear; transition:all 0.5s ease;
}

.menu-check {width:115px; height:42px; cursor:pointer; opacity:0.0; position:absolute; right:7px; z-index:2; }
.menu-check:checked ~ .menu-body { border:2px solid #42331a; background-color: rgb(32, 18, 0);
	max-height:500px; overflow-y:hidden; -webkit-transition:all 0.5s ease; transition:all 0.5s ease;} /* If menu options change then adjust max-height to height when all options are expanded */

.menu-check:hover ~ .menu-icon-div {background-color:rgba(0,250,250,0.3);}

.icon-bar{
    -webkit-transition: all 0.3s;
	transition: all 0.3s;  
}
.menu-check:checked ~ .menu-icon-div .icon-bar:nth-last-child(3) { /* top */
  -webkit-transform: rotate(45deg) translate(5.5px, 5.5px); /* safari */
          transform: rotate(45deg) translate(5.5px, 5.5px); /* chrome, firefox */	
      -ms-transform: rotate(45deg) translate(5.5px, 5.5px); /* ms */
}
.menu-check:checked ~ .menu-icon-div .icon-bar:nth-last-child(2) {opacity: 0.0;} /* middle */

.menu-check:checked ~ .menu-icon-div .icon-bar:nth-last-child(1) {  /* bottom */
 -webkit-transform: rotate(-45deg) translate(5.5px, -5.5px); /* safari */
   		 transform: rotate(-45deg) translate(5.5px, -5.5px); /* chrome, firefox */
	 -ms-transform: rotate(-45deg) translate(5.5px, -5.5px); /* ms */
}

.menu-body a{color:#F6B95A; text-decoration:none; font-size:20px; line-height:44px;}
.menu-body div {padding:0px 10px; margin-right:0px; border-radius:0px; border-bottom:1px solid #640;}
.menu-body div:hover {background-color:#640; }
.menu-body div a div{margin-left:20px;}
.menu-body .highlight{color:#5EF;}

